<br>
<br>

<div class="container">
    <h4 class="text-dark text-center">View Loan</h4>
    <button class="btn btn-sm btn-primary text-light" routerLink='/newloan'>Add Loan</button>
    <br>
    <br>
    <div class="card shadow-lg">
        <table class="table table-hover text-center">
            <thead style="background-color: #143b64;" class="text-light">
                <tr>
                    <th>Loan No</th>
                    <th>Loan Type</th>
                    <th>Loan Amount</th>
                    <th>Rate of Interest</th>
                    <th>Period</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let loan of loans'>
                    <td>{{loan.LoanId}}</td>
                    <td>{{loan.LoanType}}</td>
                    <td>{{loan.LoanAmt}}</td>
                    <td>{{loan.LoanROI}} %</td>
                    <td>{{loan.LoanPeriod}} Year</td>
                    <td>
                        <div class="row">
                            <div class="col">
                                <a routerLink="/editloan/{{loan.LoanId}}" class="btn btn-info">Edit</a>

                            </div>
                            <div class="col">
                                <button class="btn btn-danger" (click)="deleteLoan(loan)">Delete</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer shadow-lg" style="background-color: #143b64;">
    </div>
</div>