<div class="col-md-6 offset-3 mt-5">
    <h4 class="text-dark text-center">Make Loan</h4>
    <br>
    <div class="card shadow-lg">
        <div style="background-color: #143b64;" class="card-header text-light">Loan Application</div>
        <div class="card-body">
            <form [formGroup]='loanApp' (ngSubmit)="register()">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="username">Name</label>
                            <input class="form-control" type="text" id="username" name="username"
                                formControlName="username" placeholder="Enter user name">
                            <div>
                                <span style="color: red;"
                                    *ngIf="loanApp.get('username') && (loanApp.get('username').touched||loanApp.get('username').dirty) && loanApp.get('username').invalid">
                                    <span *ngIf="loanApp.get('username').errors.required">
                                        *this field is required
                                    </span>
                                    <span *ngIf="loanApp.get('username').errors.minlength">
                                        *atleast 3 characters is required
                                    </span>
                                    <span *ngIf="loanApp.get('username').errors.pattern">
                                        *name should start with an uppercase letter and contain only alphabet
                                    </span>

                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="useremail">Email</label>
                            <input class="form-control" type="email" id="useremail" name="useremail"
                                formControlName="useremail" placeholder="Enter user email">
                            <span style="color: red;"
                                *ngIf="loanApp.get('useremail') && (loanApp.get('useremail').touched||loanApp.get('useremail').dirty) && loanApp.get('useremail').invalid">
                                <span *ngIf="loanApp.get('useremail').errors.required">
                                    *this field is required
                                </span>
                                <span *ngIf="loanApp.get('useremail').errors.email">
                                    *enter a valid email id
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="usergender">Select Gender</label>
                            <select class="form-control" id="usergender" name="usergender" formControlName="usergender">
                                <option selected value="" disabled>Choose...</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>
                            </select>
                            <span style="color: red;"
                                *ngIf="loanApp.get('usergender') && (loanApp.get('usergender').touched||loanApp.get('usergender').dirty) && loanApp.get('usergender').invalid">
                                <span *ngIf="loanApp.get('usergender').errors.required">
                                    *this field is required
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="userpass">Password</label>
                            <input class="form-control" type="password" id="userpass" name="userpass"
                                formControlName="userpass" placeholder="Enter user password">
                            <span style="color: red;"
                                *ngIf="loanApp.get('userpass') && (loanApp.get('userpass').touched||loanApp.get('userpass').dirty) && loanApp.get('userpass').invalid">
                                <span *ngIf="loanApp.get('userpass').errors.required">
                                    *this field is required
                                </span>
                                <!-- <span *ngIf="loanApp.get('userpass').errors.minlength">
                                    *atleast 8 characters is required
                                </span> -->
                                <span *ngIf="loanApp.get('userpass').errors.pattern">
                                    *password should contain atleast 8 characters, including atleast 1 number, both
                                    lower and uppercase letters and special characters
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="usermob">Mobile Number</label>
                            <input class="form-control" type="number" id="usermob" name="usermob"
                                formControlName="usermob" placeholder="Enter user mobile number">
                            <span style="color: red;"
                                *ngIf="loanApp.get('usermob') && (loanApp.get('usermob').touched||loanApp.get('usermob').dirty) && loanApp.get('usermob').invalid">
                                <span *ngIf="loanApp.get('usermob').errors.required">
                                    *this field is required
                                </span>
                                <span *ngIf="loanApp.get('usermob').errors.pattern">
                                    *mobile number should contain 10 digits
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="useradhaar">Adhaar No</label>
                            <input class="form-control" type="number" id="useradhaar" name="useradhaar"
                                formControlName="useradhaar" placeholder="Enter user adhaar number">
                            <span style="color: red;"
                                *ngIf="loanApp.get('useradhaar') && (loanApp.get('useradhaar').touched||loanApp.get('useradhaar').dirty) && loanApp.get('useradhaar').invalid">
                                <span *ngIf="loanApp.get('useradhaar').errors.required">
                                    *this field is required
                                </span>
                                <span *ngIf="loanApp.get('useradhaar').errors.pattern">
                                    *adhaar number should contain 12 digits
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="loantype">Loan Type</label>
                            <select class="form-control" id="loantype" name="loantype" formControlName="loantype"
                                (change)="takeAmount($event.target.value)">
                                <option selected value="" disabled>Choose...</option>
                                <option *ngFor='let loan of listOfLoans' [value]="loan.LoanId">
                                    {{loan.LoanId}} - {{loan.LoanType}}
                                </option>
                            </select>

                            <span style="color: red;"
                                *ngIf="loanApp.get('loantype') && (loanApp.get('loantype').touched||loanApp.get('loantype').dirty) && loanApp.get('loantype').invalid">
                                <span *ngIf="loanApp.get('loantype').errors.required">
                                    *this field is required
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="loanamt">Loan Amount</label>
                            <input [(ngModel)]='loanAmount' class="form-control" type="number" id="loanamt"
                                name="loanamt" formControlName="loanamt" placeholder="Choose the loan type first">
                            <span style="color: red;"
                                *ngIf="loanApp.get('loanamt') && (loanApp.get('loanamt').touched||loanApp.get('loanamt').dirty) && loanApp.get('loanamt').invalid">

                                <span *ngIf="loanApp.get('loanamt').errors.required">
                                    *this field is required
                                </span>
                                <span *ngIf="loanApp.get('loanamt').errors.pattern">
                                    *invalid amount
                                </span>
                                <span *ngIf="loanApp.get('loanamt').errors.max">
                                    *invalid amount, amount should not be greater than 25 lakh
                                </span>
                            </span>
                            <span style="color: red;"
                                *ngIf="loanAmount<loanValid && (loanApp.get('loanamt').touched||loanApp.get('loanamt').dirty)">
                                *invalid amount, for this perticular loan type minimum loan amount should be
                                {{loanValid}}
                            </span>
                        </div>
                    </div>
                </div>
                <button [disabled]='loanApp.invalid || loanAmount<loanValid ' type="submit"
                    class="btn btn-primary">Apply</button>
            </form>
        </div>
    </div>
    <div class="card-footer shadow-lg" style="background-color: #143b64;">
    </div>
</div>